<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!--<meta content="width=device-width, initial-scale=1" name="viewport" />-->
		<!--<meta content="width=1000, initial-scale=1, maximum-scale=10, minimum-scale=0.01" name="viewport" />-->
		<title>{{mainLayout.title}}</title>
		{{#each mainLayout.headHTML}}
		{{{.}}}
		{{/each}}
	</head>
<body>
	<div id="wrapper">
	<!-- was <header> (now <div> because of IE6-8) -->
	<div id="header" class="header-top">
		<div class="header-top-wrap"> 
		    <div class="logo-container">
			{{! TODO: serve image from westtel.com/some central place when they get https working }}
			<a href="http://westtel.com">
			<img width="300" height="100" alt="WestTel International" src="/static/WestTel-Logo-300x100.png" />
		        </a>
		    </div> 
		    <!-- was <nav> -->
		    <div class="nav-menu-header">
		       <button id="icon-menu" class="icon-menu" type="button"></button>
		       <div class="menu-header-wrap">
			    <ul id="menu-header">
				<li class="first-item">
				    <a href="http://westtel.com/">
					<span>Home</span>
				    </a>
				</li>
				{{#unless user}}
				<li class="">
				    <a href="http://westtel.com/about-westtel">
					<span>About WestTel</span>
				    </a>
				</li>
				<li class="">
				    <a href="http://westtel.com/contact">
					<span>Contact</span>
				    </a>
				</li>
				{{/unless}}
				<li class="">
				    <a href="{{wconfig.reportsuri}}">
					<span>MIS – Reporting & Metrics</span>
				    </a>
				</li>
				{{#if user.hasphonebook}}
				{{#if wconfig.phonebookuri}}
				<li class="">
					<a href="{{wconfig.phonebookuri}}">
						<span>Phonebook</span>
					</a>
				</li>
				{{/if}}
				{{/if}}
				{{#if user}}
				<li class="">
					<a href="{{wconfig.accountsuri}}">
						<span>My Account</span>
					</a>
				</li>
				<li class="">
				<a href="{{wconfig.accountsuri}}/logout">
						<span>Logout</span>
					</a>
				</li>{{/if}}
			    </ul>
			</div>
		    </div>
		</div>
	</div>
	<div id="main-content" class="conten-main-e">
		<div id="bar-under-header"></div>
		<div id="main-div-box">
			{{{body}}}
			<div id="main-push"></div>
		</div>
	</div>
	</div>
	<!-- was <footer> -->
	<div id="main-footer" class="footer-page"><div class="footer-page-wrap">
		<span class="copyright">&copy; Copyright 2016 - WestTel International | All Rights Reserved | 303-695-5000</span>
	</div></div>
</body>
</html>
